__pycache__/
.vscode/
.idea/
.venv/
db_backup/
backups/
logs/
src/
NoGIT/
main/static/temp
main/media/asset_images
main/media/substation_schemes
main/media/asset_schemes
django_cache
filling*.py
_replace_frontend.py
export_localization.py
*.db
*.pyc
.env
*.bat
*.log
