<html>
<head><title>500 Internal Server Error</title></head>
<body>
    <center><h1>Внутренняя ошибка сервера</h1></center>
    <hr>
    <h3>Как правило, это происходит при:
        <ul>
        <li> недоступности сервера базы данных;</li>
        <li> попытке удалить связанную запись в базе данных;</li>
        <li> непредвиденной ситуации при обработке запроса пользователя.</li>
        </ul>
        Вы можете нажать кнопку 'Назад' в браузере для продолжения работы или
         сообщить о возникшей ошибке администратору сайта.
        </h3>
</body>
</html>
